.text-white-small{
    text-align: center;
    color: white;
    font-size: small;
}
.text-center{
    text-align: center;
    margin-top: 40px;
}
.pic-center{
    text-align: center;
    margin-top: 150px;
    margin-right: 60px;
    margin-left: 60px;
    
}
.text-box{
    margin-left: 100px;
    margin-top: 5px;
}